<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" >

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{yunju_style.css}">
    </head>
    <body>
        <header>
            <div class="banner">
                <h1>우당탕탕 개발자</h1>
                <a th:href="@{home.html}"></a>
            </div>
        </header>

        <div class="order_wrap">
            <div class="order_form">
                <div class="orderer_info">
                    <h4>주문자</h4>
                    <div class="info">
                        <div class="name">
                            <span>이름 <span id="orderer_name"> </span></span>
                            <input type="text" class="form-control" id="nameinput">
                        </div>
                        <div class="phone">
                            <span>연락처 <span id="orderder_phone"></span></span>
                            <input type="text" class="form-control" name="phone" id="phoneinput" placeholder="(-없이 입력)">
                        </div>
                    </div>
                </div>

                <div class="recipient_info">
                    <h4>수령인</h4>
                    <div class="info">
                        <div class="name">
                            <span>이름 <span id="recipient_name"> </span></span>
                            <input type="text" class="form-control" id="nameinput">
                        </div>
                        <div class="phone">
                            <span>연락처 <span id="recipient_phone"></span></span>
                            <input type="text" class="form-control" name="phone" id="phoneinput" placeholder="(-없이 입력)">
                        </div>
                        <div class="form-check">

                            <input class="form-check-input" type="checkbox" value="" id="agreeform">
                            <label class="form-check-label" for="agreeform">
                            주문자 정보와 동일
                             </label>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="address_info">
                    <h4>배송지</h4>
                    <div class="info">
                        <div class="zipcode">
                            <span>우편번호</span> <span id="zipcode"> </span></span>
                            <button type="button" class="btn btn-outline-primary" id="findnum" onclick="location.href='home.html'">우편번호 찾기</button></a>
                        </div>
                        <div class="address">
                            <span>주소</span>
                            <input type="text" class="form-control" placeholder="" id="address"><br>
                        </div>
                        <div class="address_detail">
                            <span>상세주소</span>
                            <input type="text" class="form-control" placeholder="상세주소를 입력해주세요" id="detailaddress">
                        </div>
                        <div class="request">
                            <span>요청사항</span>
                            <input type="text" class="form-control" placeholder="요청사항을 입력해주세요" id="request">
                        </div>
                    </div>
                </div>

                <div class = "order_details">
                    <h4>주문 상품 내역</h4>
                    <ul th:each="orderItem : ${orderItems}">
                        <li>주문상품명:<span th:text="${orderItem.itemId}">상품명</span></li>
                        <li>사이즈:<span th:text="${orderItem.sizeName}">사이즈</span></li>
                        <li>컬러:<span th:text="${orderItem.colorName}">컬러</span></li>
                        <li>수량:<span th:text="${orderItem.quantity}">수량</span></li>
                        <li>가격:<span th:text="${orderItem.price}">가격</span></li>
                    </ul>
                </div>
                <!--
                <div class="order_detail">
                    <h4>주문 상품 내역</h4>
                    <table border="1">
                        <th></th>
                        <th>주문 상품</th>
                        <th>수량</th>
                        <th>주문 금액</th>
                        <tr>
                            <td>#상품 이미지</td>
                            <td>#상품명이랑 옵션</td>
                            <td>#수량</td>
                            <td>#가격</td>
                        </tr>
                </div>
                -->

                <div class="pay_info">
                    <h4>결제정보</h4>
                    <div class="info">
                        <div class="point">
                            <span>포인트 사용 <span id="point"> </span></span>
                            <input type="text" class="form-control" id="point">
                        </div>
                        <div class="pay_with">
                            <span>결제수단 <span id="pay_with"></span></span>
                            <div class="pay_with_btn">
                                <div class="div2">무통장입금</div>
                                <div class="div2">신용/체크카드</div>
                                <div class="div2">간편결제</div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="total_pay">
                
            </div>
        </div>


        <footer>
            <div class="footerBox">
                <div class="inquiry">
                    <h3>문의</h3>
                    <ul>
                        <li><a href="">공지사항</a></li>
                        <li><a href="inquiry.html">1:1문의</a></li>
                    </ul>
                </div>
                <div class="cs">
                    <h3>고객센터</h3>
                    <ul>
                        <li>전화: 0000-0000</li>
                        <li>메일: 0000@gmail.com</li>
                        <li>평일 10:00 ~ 17:00</li>
                    </ul>
                </div>
                <div class="box">
                    
                </div>
            </div>
        </footer>

        <script scr="script.js"></script>
    </body>

</html>

        
