* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}

#banner {
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

header {
    align-items: center;
    border: 5px, solid, gray;
}

.searchArea {
    display: flex;
    width: 500px;
    height: 30px;
    background: rgb(240, 240, 240);
    border-radius: 40px 40px 40px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.searchArea>form>input {
    border: none;
    width: 400px;
    height: 20px;
    background: rgb(240, 240, 240);
    text-align: center;
}

.searchArea>form>input::placeholder {
    color: rgb(192, 192, 192);
}

a {
    color: black;
    text-decoration: none;
    color: black;
    width: 1000;
}

#catenav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

ul,
.breadcrumb {
    margin: 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
}

#all {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 4fr;
    margin-top: 150px;
}

.login {
    display: inline-block;
}

input {
    display: grid;
    grid-template-columns: 200px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    margin-left: 60px;
}

button {
    width: 120px;
    height: 55px;
    font-size: 25px;
    margin: 5px;
    display: inline-block;
}

#loginalret {
    color: red;
    margin-left: 40%;
}

a {
    color: black;
    text-decoration: none;
}

.col1 {
    border-right: 1px solid gray;
    text-align: center;
}

.col {
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 7.5fr 110px 130px 90px 6fr;
    margin-top: 10px;
    font-size: 15px;
}