
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/yunju_style.css}">
</head>
<body>
<header>
    <div class="banner">
        <a th:href="@{/home}">
            <h1>우당탕탕 개발자</h1>
         </a>
    </div>
    <div class="searchArea">
        <form th:action="@{/home}" method="get">
            <input name="search" type="search" placeholder="원하는 상품을 검색해주세요">
        </form>
    </div>


    <nav>
        <ul>
            <li><a th:href="@{/home/clothes}">의류</a></li>
            <li><a th:href="@{/home/beauty}">뷰티</a></li>
            <li><a th:href="@{/home/bagWallet}">가방/지갑</a></li>
            <li><a th:href="@{/home/accessories}">액세사리</a></li>
            <li><a th:href="@{/home/shoes}">신발</a></li>
        </ul>
    </nav>
</header>

<!--이벤트/광고 배너 슬라이드-->
<div class="slidewrap">
    <ul class="slidelist">
        <li><img th:src="@{images/item.png}">
        </li>
    </ul>
</div>

<div class="homeItems">
    <!--인기상품-->
    <div class="homeHotItems">
        <h3>인기상품</h3>

        <div class="item" th:each="item : ${hotItems}">

            <a th:href="@{/item/}+${item.id}">
            <img th:src="@{/img/item/}+${item.img[0]}+'.jpg'">
                <div class="des">
                    <h4 th:text="${item.seller.name}">#쇼핑몰 이름입니다#</h4>
                    <h4 th:text="${item.name}">#상품 이름입니다#</h4>
                    <h4 th:text="${item.price}+'원'">#상품 가격입니다#</h4>
                    <p th:text="|좋아요 ${item.likes}개 리뷰 ${item.reviews}개|">#좋아요 n개 리뷰m개</p>
                </div>
            </a>
        </div>



    </div>
    <!--추천상품-->
    <div class="recomItems">
        <h3>추천상품</h3>
        <div class="item">
            <img src="/img/item/037dfb41-8a3a-4cb0-bc2c-973d253cd6fc.jpg">
            <div class="des">
                <h4>#쇼핑몰 이름입니다#</h4>
                <h4>#상품 이름입니다#</h4>
                <h4>#상품 가격입니다#</h4>
                <p>#종아요 n개 리뷰 m개</p>
            </div>

        </div>
        <div class="item">
            <img src="/img/item/03a56811-c580-49cf-bc24-40be7f661558.jpg">
            <div class="des">
                <h4>#쇼핑몰 이름입니다#</h4>
                <h4>#상품 이름입니다#</h4>
                <h4>#상품 가격입니다#</h4>
                <p>#종아요 n개 리뷰 m개</p>
            </div>

        </div>
        <div class="item">
            <img src="/img/item/04451283-1e0d-47e4-89e1-64914ba289c0.jpg">
            <div class="des">
                <h4>#쇼핑몰 이름입니다#</h4>
                <h4>#상품 이름입니다#</h4>
                <h4>#상품 가격입니다#</h4>
                <p>#종아요 n개 리뷰 m개</p>
            </div>

        </div>
        <div class="item">
            <img src="/img/item/12b129c4-f8f2-4f96-9d87-9506bdba4e03.jpg">
            <div class="des">
                <h4>#쇼핑몰 이름입니다#</h4>
                <h4>#상품 이름입니다#</h4>
                <h4>#상품 가격입니다#</h4>
                <p>#종아요 n개 리뷰 m개</p>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="footerBox">
        <div class="inquiry">
            <h3>문의</h3>
            <ul>
                <li><a href="">공지사항</a></li>
                <li><a th:href="@{/inquiry}">1:1문의</a></li>
            </ul>
        </div>
        <div class="cs">
            <h3>고객센터</h3>
            <ul>
                <li>전화: 0000-0000</li>
                <li>메일: Udangtang.dev@gmail.com</li>
                <li>평일 10:00 ~ 17:00</li>
            </ul>
        </div>
        <div class="box">

        </div>
    </div>
</footer>

<script scr="script.js"></script>
</body>

</html>



